.submitForm {
  margin-top: 50px;
  display: flex;
  width: 40%;
  height: 50px;
}

.textInput {
  width: 80%;
  background: transparent;
  outline: none;
  border: 2px solid #573eff;
  padding-left: 10px;
  color: #251a6b;
  font-size: 18px;
}

.textInputDark {
  color: hsla(0, 0%, 100%, 0.88);
}

.submitButton {
  cursor: pointer;
  width: 15%;
  background: #573eff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.searchIcon {
  width: 15px;
}

@media only screen and (max-width: 800px) {
  .submitForm {
    width: 90%;
  }
}
