.ajaxTime {
  padding: 20px;
  position: absolute;
  left: 0;
  margin-left: 20px;
  border: 2px solid #573eff;
  color: #573eff;
}

.ajaxTimeText {
  font-size: 20px;
  font-weight: bold;
}

.ajaxTimeNumber {
  margin-top: 5px;
  word-wrap: break-word;
}

@media only screen and (max-width: 620px) {
  .ajaxTime {
    padding: 10px;
    font-size: 10px;
  }
  .ajaxTimeText {
    font-size: 12px;
  }
}
