.filter {
  padding: 20px;
  border: 2px solid white;
  color: white;
}

.filterTitle {
  font-weight: bold;
}

.list {
  list-style-type: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.word {
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid white;
}

.word:hover {
  background: white;
  color: white;
  cursor: pointer;
}
