.item {
  width: 39%;
  border: 1px solid #573eff;
  padding: 10px;
  list-style-type: none;
  margin-bottom: 20px;
  box-shadow: 5px 5px #573eff;
  font-size: 15px;
}

.title {
  color: #573eff;
}

.snippet {
  margin-top: 5px;
}

.snippetDark {
  color: hsla(0, 0%, 100%, 0.88);
}

@media only screen and (max-width: 800px) {
  .item {
    width: 85%;
  }
}
