.item {
  width: 96%;
  padding: 2%;
  border: 1px solid #573eff;
  list-style-type: none;
  margin-bottom: 20px;
  box-shadow: 5px 5px #573eff;
  font-size: 18px;
}

.title {
  color: #573eff;
}

.snippet {
  margin-top: 10px;
}

.snippetDark {
  color: hsla(0, 0%, 100%, 0.88);
}
