.ajaxError {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.basicDescription {
  color: #573eff;
  font-weight: 900;
  font-size: 20px;
}

.moreInfo {
  margin-top: 5px;
  color: #573eff;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

.error {
  margin-top: 5px;
  font-size: 14px;
}
